<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyy.ifm.mbg.mapper.ClYoudunGraphDetailMapper">
  <resultMap id="BaseResultMap" type="com.hyy.ifm.mbg.model.ClYoudunGraphDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="mobile_count" jdbcType="VARCHAR" property="mobileCount" />
    <result column="link_user_count" jdbcType="VARCHAR" property="linkUserCount" />
    <result column="other_link_device_count" jdbcType="VARCHAR" property="otherLinkDeviceCount" />
    <result column="user_have_bankcard_count" jdbcType="VARCHAR" property="userHaveBankcardCount" />
    <result column="partner_user_count" jdbcType="VARCHAR" property="partnerUserCount" />
    <result column="bankcard_count" jdbcType="VARCHAR" property="bankcardCount" />
    <result column="link_device_count" jdbcType="VARCHAR" property="linkDeviceCount" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hyy.ifm.mbg.model.ClYoudunGraphDetail">
    <result column="link_user_detail" jdbcType="LONGVARCHAR" property="linkUserDetail" />
    <result column="other_link_device_detail" jdbcType="LONGVARCHAR" property="otherLinkDeviceDetail" />
    <result column="link_device_detail" jdbcType="LONGVARCHAR" property="linkDeviceDetail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, order_no, mobile_count, link_user_count, other_link_device_count, user_have_bankcard_count, 
    partner_user_count, bankcard_count, link_device_count
  </sql>
  <sql id="Blob_Column_List">
    link_user_detail, other_link_device_detail, link_device_detail
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hyy.ifm.mbg.model.ClYoudunGraphDetailExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cl_youdun_graph_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hyy.ifm.mbg.model.ClYoudunGraphDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cl_youdun_graph_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cl_youdun_graph_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cl_youdun_graph_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyy.ifm.mbg.model.ClYoudunGraphDetailExample">
    delete from cl_youdun_graph_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyy.ifm.mbg.model.ClYoudunGraphDetail">
    insert into cl_youdun_graph_detail (id, user_id, order_no, 
      mobile_count, link_user_count, other_link_device_count, 
      user_have_bankcard_count, partner_user_count, 
      bankcard_count, link_device_count, link_user_detail, 
      other_link_device_detail, link_device_detail
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, 
      #{mobileCount,jdbcType=VARCHAR}, #{linkUserCount,jdbcType=VARCHAR}, #{otherLinkDeviceCount,jdbcType=VARCHAR}, 
      #{userHaveBankcardCount,jdbcType=VARCHAR}, #{partnerUserCount,jdbcType=VARCHAR}, 
      #{bankcardCount,jdbcType=VARCHAR}, #{linkDeviceCount,jdbcType=VARCHAR}, #{linkUserDetail,jdbcType=LONGVARCHAR}, 
      #{otherLinkDeviceDetail,jdbcType=LONGVARCHAR}, #{linkDeviceDetail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyy.ifm.mbg.model.ClYoudunGraphDetail">
    insert into cl_youdun_graph_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="mobileCount != null">
        mobile_count,
      </if>
      <if test="linkUserCount != null">
        link_user_count,
      </if>
      <if test="otherLinkDeviceCount != null">
        other_link_device_count,
      </if>
      <if test="userHaveBankcardCount != null">
        user_have_bankcard_count,
      </if>
      <if test="partnerUserCount != null">
        partner_user_count,
      </if>
      <if test="bankcardCount != null">
        bankcard_count,
      </if>
      <if test="linkDeviceCount != null">
        link_device_count,
      </if>
      <if test="linkUserDetail != null">
        link_user_detail,
      </if>
      <if test="otherLinkDeviceDetail != null">
        other_link_device_detail,
      </if>
      <if test="linkDeviceDetail != null">
        link_device_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="mobileCount != null">
        #{mobileCount,jdbcType=VARCHAR},
      </if>
      <if test="linkUserCount != null">
        #{linkUserCount,jdbcType=VARCHAR},
      </if>
      <if test="otherLinkDeviceCount != null">
        #{otherLinkDeviceCount,jdbcType=VARCHAR},
      </if>
      <if test="userHaveBankcardCount != null">
        #{userHaveBankcardCount,jdbcType=VARCHAR},
      </if>
      <if test="partnerUserCount != null">
        #{partnerUserCount,jdbcType=VARCHAR},
      </if>
      <if test="bankcardCount != null">
        #{bankcardCount,jdbcType=VARCHAR},
      </if>
      <if test="linkDeviceCount != null">
        #{linkDeviceCount,jdbcType=VARCHAR},
      </if>
      <if test="linkUserDetail != null">
        #{linkUserDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="otherLinkDeviceDetail != null">
        #{otherLinkDeviceDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="linkDeviceDetail != null">
        #{linkDeviceDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyy.ifm.mbg.model.ClYoudunGraphDetailExample" resultType="java.lang.Integer">
    select count(*) from cl_youdun_graph_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cl_youdun_graph_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileCount != null">
        mobile_count = #{record.mobileCount,jdbcType=VARCHAR},
      </if>
      <if test="record.linkUserCount != null">
        link_user_count = #{record.linkUserCount,jdbcType=VARCHAR},
      </if>
      <if test="record.otherLinkDeviceCount != null">
        other_link_device_count = #{record.otherLinkDeviceCount,jdbcType=VARCHAR},
      </if>
      <if test="record.userHaveBankcardCount != null">
        user_have_bankcard_count = #{record.userHaveBankcardCount,jdbcType=VARCHAR},
      </if>
      <if test="record.partnerUserCount != null">
        partner_user_count = #{record.partnerUserCount,jdbcType=VARCHAR},
      </if>
      <if test="record.bankcardCount != null">
        bankcard_count = #{record.bankcardCount,jdbcType=VARCHAR},
      </if>
      <if test="record.linkDeviceCount != null">
        link_device_count = #{record.linkDeviceCount,jdbcType=VARCHAR},
      </if>
      <if test="record.linkUserDetail != null">
        link_user_detail = #{record.linkUserDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.otherLinkDeviceDetail != null">
        other_link_device_detail = #{record.otherLinkDeviceDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.linkDeviceDetail != null">
        link_device_detail = #{record.linkDeviceDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cl_youdun_graph_detail
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      mobile_count = #{record.mobileCount,jdbcType=VARCHAR},
      link_user_count = #{record.linkUserCount,jdbcType=VARCHAR},
      other_link_device_count = #{record.otherLinkDeviceCount,jdbcType=VARCHAR},
      user_have_bankcard_count = #{record.userHaveBankcardCount,jdbcType=VARCHAR},
      partner_user_count = #{record.partnerUserCount,jdbcType=VARCHAR},
      bankcard_count = #{record.bankcardCount,jdbcType=VARCHAR},
      link_device_count = #{record.linkDeviceCount,jdbcType=VARCHAR},
      link_user_detail = #{record.linkUserDetail,jdbcType=LONGVARCHAR},
      other_link_device_detail = #{record.otherLinkDeviceDetail,jdbcType=LONGVARCHAR},
      link_device_detail = #{record.linkDeviceDetail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cl_youdun_graph_detail
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      mobile_count = #{record.mobileCount,jdbcType=VARCHAR},
      link_user_count = #{record.linkUserCount,jdbcType=VARCHAR},
      other_link_device_count = #{record.otherLinkDeviceCount,jdbcType=VARCHAR},
      user_have_bankcard_count = #{record.userHaveBankcardCount,jdbcType=VARCHAR},
      partner_user_count = #{record.partnerUserCount,jdbcType=VARCHAR},
      bankcard_count = #{record.bankcardCount,jdbcType=VARCHAR},
      link_device_count = #{record.linkDeviceCount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyy.ifm.mbg.model.ClYoudunGraphDetail">
    update cl_youdun_graph_detail
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="mobileCount != null">
        mobile_count = #{mobileCount,jdbcType=VARCHAR},
      </if>
      <if test="linkUserCount != null">
        link_user_count = #{linkUserCount,jdbcType=VARCHAR},
      </if>
      <if test="otherLinkDeviceCount != null">
        other_link_device_count = #{otherLinkDeviceCount,jdbcType=VARCHAR},
      </if>
      <if test="userHaveBankcardCount != null">
        user_have_bankcard_count = #{userHaveBankcardCount,jdbcType=VARCHAR},
      </if>
      <if test="partnerUserCount != null">
        partner_user_count = #{partnerUserCount,jdbcType=VARCHAR},
      </if>
      <if test="bankcardCount != null">
        bankcard_count = #{bankcardCount,jdbcType=VARCHAR},
      </if>
      <if test="linkDeviceCount != null">
        link_device_count = #{linkDeviceCount,jdbcType=VARCHAR},
      </if>
      <if test="linkUserDetail != null">
        link_user_detail = #{linkUserDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="otherLinkDeviceDetail != null">
        other_link_device_detail = #{otherLinkDeviceDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="linkDeviceDetail != null">
        link_device_detail = #{linkDeviceDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hyy.ifm.mbg.model.ClYoudunGraphDetail">
    update cl_youdun_graph_detail
    set user_id = #{userId,jdbcType=BIGINT},
      order_no = #{orderNo,jdbcType=VARCHAR},
      mobile_count = #{mobileCount,jdbcType=VARCHAR},
      link_user_count = #{linkUserCount,jdbcType=VARCHAR},
      other_link_device_count = #{otherLinkDeviceCount,jdbcType=VARCHAR},
      user_have_bankcard_count = #{userHaveBankcardCount,jdbcType=VARCHAR},
      partner_user_count = #{partnerUserCount,jdbcType=VARCHAR},
      bankcard_count = #{bankcardCount,jdbcType=VARCHAR},
      link_device_count = #{linkDeviceCount,jdbcType=VARCHAR},
      link_user_detail = #{linkUserDetail,jdbcType=LONGVARCHAR},
      other_link_device_detail = #{otherLinkDeviceDetail,jdbcType=LONGVARCHAR},
      link_device_detail = #{linkDeviceDetail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyy.ifm.mbg.model.ClYoudunGraphDetail">
    update cl_youdun_graph_detail
    set user_id = #{userId,jdbcType=BIGINT},
      order_no = #{orderNo,jdbcType=VARCHAR},
      mobile_count = #{mobileCount,jdbcType=VARCHAR},
      link_user_count = #{linkUserCount,jdbcType=VARCHAR},
      other_link_device_count = #{otherLinkDeviceCount,jdbcType=VARCHAR},
      user_have_bankcard_count = #{userHaveBankcardCount,jdbcType=VARCHAR},
      partner_user_count = #{partnerUserCount,jdbcType=VARCHAR},
      bankcard_count = #{bankcardCount,jdbcType=VARCHAR},
      link_device_count = #{linkDeviceCount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>