<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyy.ifm.mbg.mapper.DcNewsAssociateMapper">
  <resultMap id="BaseResultMap" type="com.hyy.ifm.mbg.model.DcNewsAssociate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="news_id" jdbcType="INTEGER" property="newsId" />
    <result column="associate_id" jdbcType="INTEGER" property="associateId" />
    <result column="classify" jdbcType="CHAR" property="classify" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, news_id, associate_id, classify
  </sql>
  <select id="selectByExample" parameterType="com.hyy.ifm.mbg.model.DcNewsAssociateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dc_news_associate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_news_associate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dc_news_associate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyy.ifm.mbg.model.DcNewsAssociateExample">
    delete from dc_news_associate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyy.ifm.mbg.model.DcNewsAssociate">
    insert into dc_news_associate (id, news_id, associate_id, 
      classify)
    values (#{id,jdbcType=INTEGER}, #{newsId,jdbcType=INTEGER}, #{associateId,jdbcType=INTEGER}, 
      #{classify,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyy.ifm.mbg.model.DcNewsAssociate">
    insert into dc_news_associate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="newsId != null">
        news_id,
      </if>
      <if test="associateId != null">
        associate_id,
      </if>
      <if test="classify != null">
        classify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="newsId != null">
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="associateId != null">
        #{associateId,jdbcType=INTEGER},
      </if>
      <if test="classify != null">
        #{classify,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyy.ifm.mbg.model.DcNewsAssociateExample" resultType="java.lang.Integer">
    select count(*) from dc_news_associate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dc_news_associate
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.newsId != null">
        news_id = #{record.newsId,jdbcType=INTEGER},
      </if>
      <if test="record.associateId != null">
        associate_id = #{record.associateId,jdbcType=INTEGER},
      </if>
      <if test="record.classify != null">
        classify = #{record.classify,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dc_news_associate
    set id = #{record.id,jdbcType=INTEGER},
      news_id = #{record.newsId,jdbcType=INTEGER},
      associate_id = #{record.associateId,jdbcType=INTEGER},
      classify = #{record.classify,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyy.ifm.mbg.model.DcNewsAssociate">
    update dc_news_associate
    <set>
      <if test="newsId != null">
        news_id = #{newsId,jdbcType=INTEGER},
      </if>
      <if test="associateId != null">
        associate_id = #{associateId,jdbcType=INTEGER},
      </if>
      <if test="classify != null">
        classify = #{classify,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyy.ifm.mbg.model.DcNewsAssociate">
    update dc_news_associate
    set news_id = #{newsId,jdbcType=INTEGER},
      associate_id = #{associateId,jdbcType=INTEGER},
      classify = #{classify,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>